.footer
  .footer__top
    %ul
      %li 
        = link_to root_path do
          プライバシーポリシー
      %li 
        = link_to root_path do
          メルカリ利用規約
      %li 
        = link_to root_path do
          特定商取引に関する表記 
  .footer__image
    = image_tag "logo_red.svg", width: "80px", height: "65px"
  .footer__bottom
    © Mercari, Inc.