$basic-white: rgb(245, 245, 245);

$font-black: #333;

$main-red: #EA352D;

$main-blue: #0095EE;

$main-gray: #EFEFEF;

// 新規登録画面用
$line_gray: rgb(150, 150, 150);
$background_gray:#f5f5f5;
$black: #333;
$progress_line: #cccccc;
$progress_text: #888888;
$progress_red: #ea352d;
$progress_white: #fff;
$progress_blue: #0099e8;

// mypage画面用
$mypage_hover_black: rgb(150, 150, 150);
$mypage_gray: #EEEEEE;
$mypage_hover_gray: rgb(250, 250, 250);
$mypage_icon: rgb(100, 100, 100);
$mypage_white: white;
$mypage_offwhite: #FAFAFA;
$complete_yellow:#fff6de;