

  .footer {
    width: 456px;
    height: 220px;
    margin: 0 auto;
    position: absolute;
    padding: 40px 0;
    text-align: center;
    &__top {
      display: inline-block;
      margin: 0 0 0 16px;
    }
    &__image {
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
      vertical-align: middle;
    }
    &__bottom {
      margin: 8px 0 0;
      color: #333;
    }
  }