=render partial: "products/header"
.mypage-wrapper
  .mypage
    = render partial: "mypages/mypage_sidebar"
    = render partial: "payments/payment"
= render partial: "products/sell_​​button"
= render partial: "products/footer"