.aside {
  width: 100%;
  margin: 0px auto;
  background-image: url(toppage-footer-back2.jpg);
  background-size: contain;
  display: flex;
  justify-content: center;
  &__left {
    padding: 40px 30px 30px 0;
    &__text1 {
      color: rgb(255, 255, 255);
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 15px;
      display: block;
    }
    &__text2 {
      color: rgb(255, 255, 255);
      font-size: 35px;
      margin-bottom: 20px;
    }
    &__icon {
      // display: flex;
      &__logo {
        display: inline-block;
        margin-right: 20px;
      }
      &__logo2 {
        display: inline-block;
        img {
          padding-bottom: 10px;
          margin-right: 8px;
        }
      }
    }
  }
}


.toppage__footer {
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 20px 10px;

  &__top {
    width: 1020px;
    display: flex;
    margin: 0px auto;
  
    &__list {
      color: white;
      width: auto;
      padding: 0px 40px 0px 0px;
      font-size: 16px;
      margin-top: 18px;
      text-align :left;

      ul {
        color: rgb(255, 255, 255);
        opacity: 0.7;
        font-size: 12px;
        li {
          line-height: 1.4em;
          margin: 16px 0px 0px;
        }
      }
      &__image {
        display: flex;
        margin-top: 30px;
        &__t, &__f {
          max-width: 100%;
          height: auto;
          max-height: 100%;
          width: 30px;
          margin-right: 20px;
          font-size: 35px;
        }
      }
      &__box {
        display: flex;
        &__left {
          padding: 0px 40px 0px 0px;
          width: 50%;
        }
      }
    }
  }
  &__bottom {
    width: 1020px;
    margin: 30px auto 20px;
    align-items: center;
    display: flex;
    color: white;
    img {
      color: white;
      background-color: yellowgreen;
    }
    &__logo {
      padding-left: 15px;
      width: 75%;
      text-align: center;
    }
  }
}

