  .sell_button{
    width: 100%;
    position: fixed;
    right: 32px;
    bottom: 32px;
    background-color: rgb(234, 53, 45);
    color: rgb(255, 255, 255);
    width: 160px;
    height: 160px;
    border-radius: 50%;

    &__message{
      padding-top: 32px;
      font-size: 21px;
      letter-spacing: 1px;
      text-align:  center;
    }

    .button{
      &_icon{
        padding-top: 10px;
        font-size: 55px;
        text-align:  center;
    }
    }
}