.wapper{
  background-color: $background_gray;
  min-height: 100vh;
   
  .header{
    text-align: center;
    align-items: center;
    height: 128px;
    border: none;
  }
  .sign-up{
    box-sizing: border-box;
    width: 700px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    &__registration{
      @include information;
    }
    .form{
      position: relative;
      height: 240px;
      width: 350px;
      margin: 0 auto;
      font-size: 14px;
      &__icon{
        float: left;
        font-size: 20px;
        margin: 15px -15px 0 15px ;
      }
      &__link{
        text-decoration: none;
      }
      &__mail{
        @include box;
      }
      &__mail:hover{
        background-color: #ff726b;
        -webkit-transition: 0.5s;
        transition: 0.5s;
      }
      &__facebook{
        @include box;
        background-color: #385185;
      }
      &__facebook:hover{
        background-color: #5c6c8d;
        -webkit-transition: 0.5s;
        transition: 0.5s;
      }
        &__google{
        @include box;
        background-color: #fff;
        color: $black;
        border: solid 1px #979797;
      }
    }
  }
}
.header{
  display: flex;
  justify-content: center;
  .progress{
    padding-left: 44px;
    display: inline-block;
    min-width: auto;
    li{
      margin: 0 40px 0 0;
      position: relative;
      display: inline-block;
      min-width: 60px;
      font-size: 12px;
      color: $progress_text;
    .progress-icon{
      position: absolute;
      left: 40%;
      width: 12px;
      height: 12px;
      margin: 13px auto 0;
      background: $progress_line;
      border-radius: 50%;
      z-index: 2;
    }
    }
    .progress-bar {
      position: absolute;
      left: 50%;
      top: 30px;
      bottom: 5px;
      display: block;
      width: 130px;
      height: 2px;
      background: $progress_line;
      z-index: 1;
    }
  }
  .done .progress-bar {
    width: 0px;
  }
  .pay .progress-bar {
    width: 100px;
  }
}
#now{
  font-weight: bold;
  color: $progress_red;
  .progress-icon{
    background: $progress_red;
  }
}
#end .progress-icon{
  background: $progress_red;
  }
#end .progress-bar{
  background: $progress_red;
}

.account-page{
  width: 700px;
  height: 100%;
  margin: 0 auto;
  background-color: $progress_white;
    .member-input{
      @include information;
      text-align: center;
    }
    .form{
      box-sizing: border-box;
      padding: 20px 0;
      &__group{
        margin: 0 auto;
        padding-top: 20px;
        width: 345px;
        @include label;
      }
      &__group-required{
        @include required;
      }
      #kana{
        left: 120px; 
      }
      &__group-input-long{
        @include form-box-long;
      }
      &__group-input-middle{
        @include form-box-middle;
      }
      .year{
        @include form-box-short;
      }
      .month{
        @include form-box-short;
      }
      .day{
        @include form-box-short;
      }
      .birthday{
        font-size: 14px;
      }
      label{
        font-weight: bold;
      }
      &__group-information{
        @include group-information;
      }
      &__group-name{
        margin-top: 20px;
      }
      &__message-note{
        @include group-information;
        margin-bottom: 40px;
      }
      &__message-next{
        font-size: 14px;
        text-align: center;
      }
      &__group-next{
        margin-top: 20px;
      }
      .next-btn{
        width: 340px;
        height: 50px;
        font-size: 14px;
        background-color: $progress_red;
        text-align: center;
        align-items: center;
        color: $progress_white;
        cursor: pointer;
      }
      .next-btn:hover{
        background-color: #ff726b;
        -webkit-transition: 0.5s;
        transition: 0.5s;
      }

    }
    .check{
      font-size: 14px;
      &__message{
        position: relative;
        align-items: center;
        left: 30px;
        top: -12px;
      }
    }
    .identification{
      font-size: 16px;
      margin-top: 10px;
      font-weight: bold;
      &__message{
        margin-top: 10px;
        font-size: 14px;
        font-weight: normal;
      }
    }
    .registration-information{
      font-size: 14px;
      margin-top: 20px;
      text-align: right;
    }
    a{
      text-decoration: none;
      color: $progress_blue;
    }
    .protected-message{
      font-size: 12px;
      width: 340px;
      height: 100%;
      padding: 10px 16px;
      margin: 20px 0;
      align-items: center;
      background-color: $background_gray;
      color: $progress_text;
    }
}
.phone-number-page{
  @include signup-frame-head;
  .phone-number{
    @include information;
    text-align: center;
  }
  .phone-form{
    @include signup-frame-bottom;
    margin: 0 auto;
    width: 345px;
    &__phone-number{
      width: 345px;
      font-size: 14px;
    }
    &__input{
      @include form-box-long;
      margin-top: 10px;
    }
    &__information{
      color: $black;
      margin: -10px 0 20px 0;
      font-size: 14px;
    }
    .sms-btn{
      width: 340px;
      height: 50px;
      font-size: 14px;
      background-color: $progress_red;
      text-align: center;
      align-items: center;
      color: $progress_white;
      cursor: pointer;
      }
    .sms-btn:hover{
      @include hover;
      }
    &__notes{
      font-size: 14px;
      color: $black;
      margin-top: 10px;
    }
    &__reason{
      font-size: 14px;
      margin: 20px;
      text-align: right;
    }
    label{
      font-weight: bold;
      margin-bottom: 20px;
    }
    a{
      text-decoration: none;
      color: $progress_blue;
    }
  }
}

.address-page{
  @include signup-frame-head;
  .address-top{
    @include information;
    text-align: center;
  }
    label{
      font-weight: bold;
      margin-bottom: 20px;
    }
    a{
      text-decoration: none;
      color: $progress_blue;
    }
  .address-form{
    @include signup-frame-bottom;
    margin: 0 auto;
    width: 345px;
    &__group{
      margin: 0 auto;
      padding-top: 20px;
      width: 345px;
      @include label;
    }
    &__group-input{
      @include form-box-long;
    }
    #user_address_attributes_prefecture_id{
      @include form-box-long;
      height: 46px;
      width: 320px;
      background-color: $progress_white;
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;
    }
    &__group-required{
      @include required;
    }
    #kana{
      left: 120px; 
    }
    &__group-any{
      @include required;
      color: $progress_white;
      background-color: $progress_text;
    }
    &__group-next{
      margin-top: 20px;
    }
    .next-btn{
      width: 340px;
      height: 50px;
      font-size: 14px;
      background-color: $progress_red;
      text-align: center;
      align-items: center;
      color: $progress_white;
      cursor: pointer;
      margin-bottom: 20px;
    }
    .next-btn:hover{
      @include hover;
    }
  }
}

.pay-page{
  @include signup-frame-head;
  .payment{
    @include information;
    text-align: center;
  }
  .card-icon{
    display: flex;
    margin: -10px 0 20px 0;
    padding-right: 10px;
  }
  li{
    margin-right: 10px;
  }
  .payment-form{
    @include signup-frame-bottom;
    margin: 0 auto;
    width: 345px;
    font-size: 14px;
    &__card-id{
      width: 345px;
    }
    &__input{
      @include form-box-long;
    }
    &__group-required{
      @include required;
    }
    #exp_month{
      @include form-box-short;
      width: 290px;
      margin-right: 10px;
    }
    #exp_year{
      @include form-box-short;
      width: 290px;
      margin-right: 10px;
    }
    &__security-code{
      width: 345px;
      font-size: 14px;
    }
    #security{
     left: 140px; 
    }
    &__information{
      color: $black;
      margin: -10px 0 20px 0;
      font-size: 14px;
      text-align: right;
      margin-bottom: 40px;
    }
    .next-btn{
      width: 340px;
      height: 50px;
      font-size: 14px;
      background-color: $progress_red;
      text-align: center;
      align-items: center;
      color: $progress_white;
      cursor: pointer;
      margin-bottom: 20px;
      }
    .next-btn:hover{
      @include hover;
      }
    &__notes{
      font-size: 14px;
      color: $black;
      margin-top: 10px;
    }
    &__reason{
      font-size: 14px;
      margin: 20px;
      text-align: right;
    }
    label{
      font-weight: bold;
      margin-bottom: 20px;
    }
    a{
      text-decoration: none;
      color: $progress_blue;
    }
  }
}
.done-page{
  @include signup-frame-head;
  .done{
    @include information;
    text-align: center;
  }
  .done-information{
    @include signup-frame-bottom;
    margin: 0 auto;
    width: 345px;
    font-size: 16px;
    &__message{
      width: 345px;
      text-align: center;
      margin: 20px 0 40px 0;
    }
    &__top{
      cursor: pointer;
      margin-bottom: 20px;
    }
  .top-btn{
    width: 340px;
    height: 50px;
    font-size: 14px;
    color: $progress_white;
    background-color: $progress_red;
    text-align: center;
    padding-top: 17px;
    }
  .top-btn:hover{
    @include hover;
    }
    a{
      text-decoration: none;
    }
  }
}

.login{
  box-sizing: border-box;
  width: 450px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  &__registration{
    height: 150px;
    line-height: 100px;
    font-size: 14px;
    border-bottom: solid 1px $background_gray;
    a{
      text-decoration: none;
      color: $progress_white;  
    }
  }
  &__message{
    align-items: center;
    font-size: 14px;
  }
  &__new-registration{
    @include box;
    background-color: $progress_blue;
    width: 345px;
    border-radius: 0;
    margin: 0 auto;
    margin-top: -30px;
  }
  .login-form{
    position: relative;
    height: 100%;
    width: 350px;
    margin: 0 auto;
    font-size: 14px;
    &__icon{
      color: white;
      float: left;
      font-size: 20px;
      margin: 15px -15px 0 15px ;
    }
    &__link{
      text-decoration: none;
    }
    &__facebook{
      @include box;
      width: 345px;
      background-color: #385185;
      border-radius: 0;
      cursor: pointer;
    }
    &__facebook:hover{
      @include hover;
      background-color: #5c6c8d;
    }
    &__google{
      @include box;
      width: 345px;
      background-color: #fff;
      color: $black;
      border: solid 1px #979797;
      border-radius: 0;
      cursor: pointer;
    }
    .login-btn{
      @include box;
      width: 345px;
      cursor: pointer;
      border-radius: 0;
    }
    .login-btn:hover{
      @include hover;
    }
    &__mail{
      margin-top: 40px;
      border-radius: 0;
      text-align: left;
    }
    &__input-long{
      @include form-box-long;
      margin: 15px 0;
    }
  }
  .password-forget{
    font-size: 14px;
    text-align: left;
    margin-top: 30px;
    height: 60px;
    a{
      text-decoration: none;
      color: $progress_blue;  
    }
  }
  .recaptcha{
    margin-top: 10px;
  }
  label{
    font-weight: bold;
    margin-bottom: 20px;
  }
}
