@import "./reset";
@import "font-awesome-sprockets";
@import "./font-awesome";
@import "./mixins/mixin";
@import "./configs/variable";
@import "./header";
@import "./sell_​​button";

* {
  box-sizing: border-box;
}

body{
  position: relative;
  min-height: 100%;
  font-size: 14px;
  color: #333;
  line-height: 1;
}