@import "./reset";
@import "font-awesome-sprockets";
@import "./font-awesome";
@import "owl.carousel";
@import "owl.theme.default";
@import "./mixins/mixin";
@import "./configs/variable";
@import "./index";
@import "./header";
@import "./footer";
@import "./items";
@import "./sell_​​button";
@import "./signup-header";
@import "./signup-footer";
@import "./sell_upload_header";
@import "./sell_upload_main";
@import "./sell_upload_footer";
@import "./mypage";

* {
  box-sizing: border-box;
}

body{
  position: relative;
  font-size: 14px;
  color: $font-black;
  line-height: 1;
  table-layout: fixed;
}