.slide-banner{
  height: 200px;
  overflow: hidden;
  position: relative;

  &__link{
    display: block;

    &--sakura{
      @include slide-background("banner1.jpg");
    }

    &--blue{
      @include slide-background("banner2.jpg");
    }

    &--logo{
      @include slide-background("logo_red.svg");
    }
  }

  & .owl-nav {
    display: block;
  }

  & .owl-prev{
    @include slide-nav-btn;
    left: 60px;
  }

  & .owl-next{
    @include slide-nav-btn;
    right: 60px;
  }

  & .owl-dots{
    margin: -30px;
    text-align: center;
  }

  & .owl-dot{
    position: relative;
    background: white !important;
    opacity: 0.4;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    min-height: 12px;
    margin-right: 15px;

    & .active{
      opacity: 1;
      background: rgba(0,0,0,0.5) !important;
    }
  }

  & .owl-stage-outer, .owl-stage, .owl-item, .owl-item>a {
    height: 100%;
  }
}

@media screen and (min-width: 1068px){
  .slide-banner{
    height: 390px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1068px) {
  .slide-banner{
    height: 290px;
  }
}

@media screen and (max-width: 768px){
  .slide-banner .owl-bots{
    display: none;
  }
}
