.item-section__groups__unit
  = link_to product_path(product_url=1) do
    .item-section__groups__unit__image
      .item-section__groups__unit__image--box
        = image_tag "logo_red.svg", width: "150px",height: "150px"
    .item-section__groups__unit__price
      %h4.item-section__groups__unit__price--caption
        ￥1,900
    .item-section__groups__unit__title
      %p.item-section__groups__unit__title--caption
        週末値下げ　クーカイ　ワンピース