.main
  .upper-info
    .upper-info__title
      %h3 人気のカテゴリー
    .upper-info__category  
      %ul.upper-info__category-lists
        %li.upper-info__category-lists__ladies レディース
        %li.upper-info__category-lists__mens メンズ
        %li.upper-info__category-lists__camera 家電・スマホ・カメラ
        %li.upper-info__category-lists__toy おもちゃ・ホビー・グッズ

  .item-info
    .item-info__title
      %h3 レディース新着アイテム